<html>
<header>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="../../assets/style.css">
    Welcome to the Great Krikaalan Magic Show
</header>
<body>
<div class="loginbox">
    <img src="../../assets/images.png" class="avatar">
    <h1>Create Account</h1>
    <form style="alignment: center" method="post" action="/signup" >
        <p>Enter username</p>
        <input type="text"  name="username"  id="name" placeholder="Enter Username">
        <br>
        <p>Enter password</p>
        <input type="password" name="password" id="pwd" placeholder="Enter Password">
        <br>
        <input type="submit" value="sign up">
        <br>
        <a href="#">Login Page</a><br>

    </form>
</div>
</form>
</body>
</html>
