<html>
<header>
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="../../assets/style.css">
    Welcome to the Great Krikaalan Magic Show
</header>
<body>
<div class="loginbox">
    <img src="../../assets/images.png" class="avatar">
    <h1>Login</h1>
    <form style="alignment: center" method="post" action="/" >
        <p>username</p>
        <input type="text"  name="username"  id="name" placeholder="Enter Username">
        <br>
        <p>password</p>
        <input type="password" name="password" id="pwd" placeholder="Enter Password">
        <br>
        <input type="submit" value="Login">
        <br>
        <a href="#">Forgot password?</a><br>
        <a href="#">Don't have an account?</a><br>

    </form>
</div>
</form>
</body>
</html>
